/* CSS rules to specify families

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

*,*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}
/*  CCS перемение*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --color-text-white: #ffffff 
}

body {
    box-sizing: border-box;
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}  
img {
    display: block;
}

h2, h3, p, img {
    margin: 0 0;
}

.list {
    border: none;
    list-style: none; 
    text-decoration: none;
    margin: 0 0;
    padding: 0 0;
   }

.container-nav {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    
}   
.nav-container {
    display: flex;
    align-items: center;
}

.header {
    margin: 0 auto;
    width: 1600px;
    border-bottom: 1px solid #ECECEC;
}

.header > .container {
    width: 1200px;
    padding: 25px 15px; 
    margin: 0 auto;
    
}   


/* .logo.link:hover,
.logo.link:focus, */
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav-svg:focus,
.auth-nav-svg:hover {
    color: #2196f3;
    fill: #2196f3;
    
}

.site-nav .link.current,
.site-nav-portfolio .link.current{
    color: #2196F3;
    position: relative;
   
}

.site-nav-portfolio .link.current::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0px;
    top: 40px;
    transform: translateY(37px);
    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
}

.site-nav .link.current::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0px;
    top: 40px;
    transform: translateY(38px);
    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
}

/* .social-link :hover,
.social-link :focus {
    background-color: #2196F3;
} */

.team-icon-svg :hover,
.team-icon-svg :focus {
    fill: #fff;
    background-color: #2196F3;
}

.list-item:hover,
.list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.clients-padding :hover,
.clients-padding :focus {
    border: solid #2196F3;
    fill: #2196f3; 
}
    
.site-nav .list {
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: #212121;
    font-weight: 500;
    line-height: 1.142;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 

.site-nav .link:not(:last-child),
.auth-nav .link:not(:last-child){
    margin-right: 40px;
} 
.auth-nav{
    margin-left: auto;
}
.auth-nav .list {
    padding-top: 32px;
    padding-bottom: 32px;
    
    justify-content: flex-end;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height:1.142;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.auth-nav-svg {
    width: 16;
    height: 12;
    fill: #757575;
}   


/* site nav */  
.title-web {
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway', sans-serif;
    color:#2196F3;
    font-size: 26px;
    line-height: 1.192;
   
}

.title-studio {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 70px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 26px;
    line-height: 1.192;
    }


   /*main*/

.hero {
    max-width: 1600px;
    margin: 0 auto 0;
    /* background:rgba(47, 48, 58, 0.8); */
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .container {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    margin: auto;
   
}

.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text-white);
    font-size: 44px;
    font-weight: 900;
    line-height:1.363;
    text-align: center;
    text-transform: uppercase;
}
    
 .title-main {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    }

.baner {
    margin: 30px auto;
    width: 200px;
    height: 50px;
    padding: 10px 32px;
    color: var(--color-text-white);  
    background-color: #2196F3;  
    font-size: 16px;
    font-weight: 700;
    line-height:0.533;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

.btn-baner:hover,
.btn-baner:focus {
    color: var(--title-text-color);
    background-color: #ffffff;
    
    }

    /* Особености */




 .promo > .container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}

.promo  .list {
    display: flex;
}

.promo  .feature:not(:last-child) {
    margin-right: 30px;
}

.future-images {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 100px;
}

.svg-future {
    width: 70px;
    height: 70px;
}

.feature > .title  {
    color: var(--title-text-color); 
    font-weight: bold;
    font-size: 14px;
    line-height: 0.875;
    text-transform: uppercase;
    margin-top: 30px;
    }

.feature > .about {
    width: 270px;
    margin-top: 10px;
    line-height: 1.714;
   }

/* .promo .container {
    width: 270px;

}

.feature {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 100px;
} */

 /* about-us */

.about-us > .container {
        width: 1200px;
        padding-top: 0;
        padding-bottom: 94px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        }

.about-us  .list{
    display: flex;
    margin-top: 50px;
}

.about-us .box:not(:last-child){
margin-right: 30px;
}

.box {
    position: relative;
}

.wwd {
    position: absolute;
    left: 0;
    bottom: 0;
}

.box .wwd {
    
    padding: 27px 85px;
    width: 370px;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text-white);
    background-color: rgba(47, 48, 58,0.8); 
}

   /* Наша команда */

.team {
    margin: 0 auto ;
    width: 1600px;
    background: #F5F4FA;
}

.team > .container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}

.title-main.team {
    margin-bottom: 50px;
}
.team  .list {
    display: flex;
} 

.team .team-card:not(:last-child){
    margin-right: 30px;
}
.team .team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
.team .team-name {
     margin-top: 30px;
     margin-bottom: 10px;
     color: var(--title-text-color);
     font-size:  16px;
     font-weight: 500;
     line-height: 1.187;
     text-align: center;
     }
.team .team-prof  {
     margin-bottom: 16px;
     font-size: 16px;
     line-height: 1.187;
     text-align: center;
     }

.list.social {
    margin-bottom: 24px;
    margin-left: 32px;
}
     
.team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    
}

.team-icon-svg {
    padding: 22px 22px;
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}


    /* clients */

.clients .container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}

.clients .list {
    margin-top: 50px;
    display: flex;
    /* justify-content: center; */
    
}

.clients-padding {
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

/* .clients {
    display: block;
    padding-left: 50px;
    width: 170px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
} */

.conteiner-clients-logo {
    width: 170px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #AFB1B8;
    border-radius: 4px; */
    
    
}

.clients-logo-svg {
    display: flex;
    fill: #AFB1B8;
}

.clients .clients-padding:not(:last-child){
    margin-right: 30px;
} 

    /* footer */
footer {
   margin: 0 auto 0; 
   width: 1600px; 
   background: #2F303A;
}
footer .container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 60px 15px;
    margin: 0 auto;
}

.container-address {
    width: 300px;
}
.footer-title {
    width: 300px;
    color: var(--color-text-white);
    line-height: 16px;
    letter-spacing: 1.142;
    font-weight: bold;
    text-transform: uppercase;
}
.street {
    width: 300px;
    margin-top: 20px;
    color: var(--color-text-white);
    line-height: 24px;
    letter-spacing: 1.714;
    font-style: normal;
}
.address {
    margin-top: 9px;
    color:rgba(255, 255, 255, 0.6);
    line-height: 24px;
    font-style: normal;
}

.container-folow-me {
    width: 300px;
    padding-top: 12px;
} 

.container-folow-me .folow.list {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 20px;
   }

.folow {
    margin-right: 10px;
   }

.folow.list:not(:last-child) {
    margin-right: 0;
}

.container-folow {
    display: block;
    width: 600px;
    padding-top: 12px;
    
}

/* CSS Portfolio */

.site-nav-portfolio .link{
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: #212121;
    font-weight: 500;
    font-weight: 14px;
    line-height: 1.142x;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.site-nav-portfolio .link:not(:last-child),
.auth-nav .link:not(:last-child){
    margin-right: 40px;
}

.site-nav-portfolio .link:hover,
.site-nav-portfolio .link:focus,
.address :hover,
.address :focus {
    color: #2196f3;
}  

.btn:hover,
.btn:focus {
    color: var(--color-text-white);
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-filtr {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto 0; 
     
 }
 
 .container-filtr {
     margin-bottom: 50px;
 }
 
 .projects-filtr{
     
     display: flex;
     justify-content: center;
 }
 
 .projects-filtr .link:not(:last-child){
     margin-right: 8px;
 }
 
 .container-projects{
     width: 1200px;
     padding: 0 15px;
     margin: 0 auto 0;
 } 
 
 .container-projects .projects.item {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
 
 .container.projectr.about{
    position: relative;
    display: block;
    width: 370px;

    overflow: hidden;

    /* transition-property: height;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
     /* border-left: 1px solid #EEEEEE;
     border-right: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
     */
 } 
 
 .container.projectr.about img {
     max-width: 100%;
     overflow: hidden;
 } 
 
 .container-project-title {
     /* width: 370px; */
     border-left: 1px solid #EEEEEE;
     border-right: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
     overflow: hidden;
 }
 
 .list-item{
     /* border: 1px solid #EEEEEE;
     box-sizing: border-box;
     width: 370px; */
     margin: 15px;
    /* width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px; */
 }
 
 .projects.item .list{
     
 }
 
 /* .list-item:nth-child(3n){
     margin-right: 0;
 }
 
 .list-item:nth-last-child(-n + 3) {
     margin-bottom: 0;
 } */
 
 .filtr {
     padding: 6px 22px;
     color: var(--title-text-color);
     font-size: 16px;
     font-weight: 500;
     line-height: 1.625;
     border-radius: 4px;
     background-color: #F5F4FA;
    }
 
 .project-title {
     margin: 0 24px 0;
     padding-top: 20px;
     color: var(--title-text-color);
     font-weight: bold;
     font-size: 18px;
     line-height: 2;
     }
 .project-filtr {
     margin: 4px 24px 20px;
     color: var(--primary-text-color);
     font-size: 16px;
     line-height: 1.875;
    
     }

.project-filtr .btn {
    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}     
 
 .projectr-about {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      padding: 63px 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: #ffffff;
      /* opacity: 0; */
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


 }

.list-item:hover .projectr-about {
    transform: translatey(0);
   /* opacity: 1; */

}
.backdrop {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 1024px;
    
    background-color: rgba(0, 0, 0, 0.1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    cursor: pointer;
    
    background-color: #fff;
}

.modal-btn {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    content: "";
    width: 200px;
    height: 50px;
    left: 50%;
    top: 85%;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transform: translate(-50%, -50%);
}